@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <400>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

.head-1{
  max-width: 1440px;
  height: 800px;


  background-color: rgba(17, 17, 17, 1);
 
}
 

  






  .main-contant{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 30px;
  }
  .main-item{
  display: flex;
  }
  .item{
    list-style: none;
    margin-left: 30px;
   
  }
  .item-link{
    text-decoration: none; 
    color: white; 
  }

.title{
  font-weight: 900;
  font-size: 2.25rem;
  color: #E6533C;
  font-style: italic;
  
}




  #home-id{
    color: white;
    padding: 8px;
    border-radius: 15px;
    background-color:#E6533C ;
  }













  .main-div{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    
  }
  .main-header{
    font-size: 4.87rem;
    color: white;
    

  }
  .shape-ee{
    font-style: italic;
  }

  .main-pp{
    color: rgba(255, 255, 255, 0.5);
  }
  .btn-pp-1{
    background-color: #E6533C;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
  }
  .btn-pp-2{
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius:15px ;
    padding: 10px 25px;
   margin-left: 5px;
  }

.ooo-ppp{
  margin-top: -10pc;
 margin-left: -3pc;

 
}

 

 .img-png{
  
 
 }
.img-pngg{
  margin-top: 30px;
  
}
.btn-pp-3{
  border: 2px solid  rgba(48, 48, 48, 0.54);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.54);
 
 


}
.h4-000{
  color: rgba(230, 83, 60, 1);
  border: 2px solid tomato;
  border-radius: 100%;
  padding: 8px 15px;
  background-color: rgba(230, 83, 60, 1);
  }
.ll-22{
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}
.ll-23{
  color: rgba(239, 237, 232, 0.65);
}


.ll-299{
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
}
.ll-288{
  color: rgba(255, 255, 255, 0.65);
}


.ooo-pp{
  margin-top: -20pc;
  margin-left: 200px;
 
}
















  /*2nd part*/


  .img-main-div{
    display: flex;
    justify-content: center;
    
  }






  .main-section{
  padding-top: 35px;
    max-width: 1440px;
    height: 650px;
    background-color: black;
    
  }













  .title-main-div{
    text-align: center;
  }
  .part-2-pp{
    color: rgba(255, 255, 255, 0.5);
    
  }


  .main-heading{
    color: white;
    font-size: 3rem;
  }








  .part2-2nd{

   margin-top: 50px;
    margin-left: 50px;
    text-align: center;
  
   
    
  }

  .imggs{
    border: 2px solid rgb(68, 64, 64);
    border-radius: 100px;
  }
  .part-3{
    margin-right: px;
  }



  .mm-title{
    color: white;
  }
  .mm-p{
    color: rgba(255, 255, 255, 0.5);
   margin-top: 0%;
  }






  /*3rd part*/



  .main-ss-2{
    max-width: 1440px;
  height: 450px;
  border: 2px solid black;
  background-color: black ;




  
  }
.flex-div{
  border: 2px solid rgba(34, 34, 34, 1) ;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  height: 371px;
  margin-left: 190px;
  margin-right: 190px;
  margin-top: 20px;
  background-color: rgba(34, 34, 34, 1);
 
}




.main-div-3{
  padding-left: 35px;
  text-align: left;
  
}





  .img-3{
    height: 312px;
    max-width: 366px;
    padding-top: 28px;
    padding-right: 28px;
    border: none;
    border-radius: 10px;
    
  }

  .title-00{
    font-size: 3rem;
    color: white;
  }
  .ppp-3{
    color: rgba(255, 255, 255, 0.5);
  }

  .btn-3{
    background-color: #E6533C;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
  }




  /*part 4*/
  .section-4{
    max-width: 1440px;
    height: 800px;
    background-color: black;
    margin-top: -2pc;

    
  

  }
  .part-4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;

  }
  .head-4{
    color: rgba(255, 255, 255, 1);

    

  }
  .para-4{
    color: rgba(255, 255, 255, 0.5);

  }
.div-4{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  height: 480px;
  background-color:rgba(34, 34, 34, 1);
 
  border: none;
  

}
.table-had{
  font-size: 1.75rem;
  color: white;
}
.bim{
  color: white;
}
.cal-had{
  color: white;
}
.cal-pp{
  color: rgba(255, 255, 255, 0.5);
}

.main-dada{
  margin-top: 100px;
  margin-left: 150px;
  
}



.main-dad{
 max-width: 580px;
 height: 385px;
 border: none;
 margin-right: 150px;
 margin-top: 100px;
 text-align: left;
 
}

.mm-had{
  text-align: left;
  color: white;
  font-size: 1.75rem;
}
.mm-cc{
   text-align: left ;
   font-size: 14px;
   color: rgba(255, 255, 255, 0.5);
}

.btn-ss{
  padding: 10px;
  padding-right: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.6);
}
.btn-999{
  margin-top: 20px;
  padding: 10px ;
  padding-right: 138px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.6);
}

.btn-last{
  margin-top: 20px;
  padding: 10px ;
  padding-right: 198px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.6);
 

}
.btn-lastt{
  margin-top: 30px;
  margin-right: 250px;
  padding: 12px 20px;
background-color: #E6533C;
border: none;
border-radius: 8px;
color: aliceblue;
 
}










/*part 6*/

.main-dadd{
  max-width: 1440px;
  height: 900px;
  margin-top: -5pc;
  background-color: black;

}

.cont-9{
  text-align: center;
  margin-top: 70px;


}

.hitttt-00{
  color: azure;
  font-weight: 3rem;


}
.hitttt-01{
  color: rgba(255, 255, 255, 0.5);
}






.cont-8{
  margin-top: 80px;
  margin-left: 65px;
  max-width: 1060px;
  height: 655px;
  background-color: rgba(150, 139, 139, 0.2);
 border: none;
}




.trin{
  display: flex;
  justify-content: space-evenly;
}


.thing{
  margin-top: 30px;
  max-width: 326px;
  height: 272px;
  border: none;
  border-radius: 10px;
}

.trin-00{
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;

}


#trin-4{
  padding-right: 20px;
  max-width: 326px;
  height: 272px;
  border: none;
  border-radius: 10px;
}
#trin-5{
  max-width: 326px;
  height: 272px;
  border: none;
  border-radius: 10px;
}
#trin-6{
  max-width: 326px;
  height: 272px;
  border: none;
  border-radius: 10px;
}

.kali{
  margin-top: -5pc;
 
}





.name-taile{
  color: aliceblue;
  font-size: 1.25rem;
 

}


.ttn{
  margin-top: -1pc;
  color: rgba(255, 255, 255, 0.5);
}



/*part 7*/
.main-footer{
  max-width: 1440px;
  height: 460px;
 
  background-color:  rgb(56, 48, 48);

}


.main-footer-00{
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  color: azure;
 
}



.div-9{


}

.footer-had{
  font-size: 4.375rem ;
  color: #E6533C;

}

.footer-pp{
  
  color: rgba(255, 255, 255, 0.5);
}




.foot-tag{

}

.foot-hhed{
  font-size: 2rem;
}

.pppp{
  color: rgba(255, 255, 255, 0.5);
}


.hori{
 margin-top: 70px;
 margin-left: 50px;
  max-width: 1080px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
}


.last-line{
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
}